{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bounce</title>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static "css/master.css" %}">
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
</head>
<body>
	<header>
		<h1>
			<a href="/" id="home">
				<img src="{% static "img/coil.png" %}" alt="coil">bounce
			</a>

			{% if user.is_authenticated %}
				<a href="/logout" class="btn btn-primary pull-right">Logout</a>
				<a href="/story" class="btn pull-right">New Story</a>
				<div id="username" class="pull-right">{{ user.username }}</div>
			{% else %}
				<a href="/login" class="btn btn-primary pull-right">Login</a>
			{% endif %}
		</h1>

	</header>
	
	<div id="content">
		{% block content %}
		{% endblock content %}
	</div>
</body>
</html>