body{
	font-family: helvetica;
	min-width: 400px;
	padding: 0;
}

a:hover{
	color: #0088cc;
}

img{
	height: 100%;
}

header, #content{
	padding: 0 1.5em;
}

header{
	border-bottom: 1px solid #DDD;
	height: 70px;
}

header h1{
	font-weight: 300;
	line-height: 1.6em;
}

#home, #home:hover{
	color: inherit;
	text-decoration: none;
	float: left;
}

header h1 img{
	height: 45px;
	margin-right: 5px;
	position: relative;
	bottom: 3px;
}

#username{
	font-size: .45em;
}

header .btn{
	margin: 16px 0 0 8px;
}

#stories{
	margin: 0;
}

.story{
	list-style-type: none; 
	border-bottom: 1px solid #EEE;
	margin-top: 8px;
}

.arrow{
	float: left;
	height: 20px;
}

.story-title{
	margin-bottom: 3px;
	margin-left: 23px;
}

.domain{
	color: #C2DDFF;
	font-weight: 300;
	font-size: .9em;
}

.story-info{
	font-size: .85em;
	margin-bottom: 8px;
	margin-left: 23px;
	color:#444;
}